.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: 60px;
    border-radius: 50%;
    gap: 20px;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}