* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: rgba(233,233,233,1);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 15px;              /* height of horizontal scrollbar ← You're missing this */          /* width of vertical scrollbar */
}